body {
    background-color: #f8f9fa;
}

.navbar {
    padding: 1rem;
}

.nav-link {
    font-size: 1.1rem;
    padding: 10px 15px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.welcome-message {
    padding: 50px;
}

.text-center h1 {
    font-size: 3rem;
}

.text-center p {
    font-size: 1.2rem;
}
